body {
	font-family: Helvetica;
	margin: 0;
}
#header {
	height: 102px;
	text-align: center;
	background-color: #EBEBEB;
	border: 1px solid #0C59CF;
}
#header p {
	color: #033076;
	font-size: 26px;
	margin-top: 32px;
}
#col-1 {
	width: 65%;
	float: left;
	padding: 10px;
}
#col-1 img {
	float: right;
	width: 30%;
	vertical-align: top;
	margin-top: -20px;
}
#col-2 {
	width: 30%;
	float: right;
	padding: 10px;
}
#columns .desc, .desc2 {
	font-size: 14px;
	line-height: 1.3em;
}
#col-2 .desc {
	margin-top: 35px;
}
#col-1 .desc {
	float: left;
	width: 67%;
}
#columns .headline {
	font-size: 26px;
}
#footer {
	background-color: #C9F1FD;
	height: 64px;
	clear: both;
}
#footer p {
	font-size: 14px;
	text-align: center;
	padding-top: 1.8%;
}
#gallery {
	width: 80%;
	margin:auto;
	margin-top: 20px;
	padding-bottom: 10%;
}
#gallery img {
	width: 20%;
	margin-left: 20px;
}
#main {
	padding-left: 10px;
}